<?xml version="1.0" encoding="utf-8"?>
<Content Key="e095fddd-c382-47b7-a7ba-49918bc1526a" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-10-05T03:49:09</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="da49e47e-aa65-457f-aae9-39145f79f24e">aboutPage</Template>
  </Info>
  <Properties>
    <aboutContactEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </aboutContactEmail>
    <aboutContactEmailText>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </aboutContactEmailText>
    <aboutContactHeadline>
      <Value><![CDATA[Let us know about]]></Value>
    </aboutContactHeadline>
    <aboutContactHeadlineTwo>
      <Value><![CDATA[your next project]]></Value>
    </aboutContactHeadlineTwo>
    <aboutContactImage>
      <Value><![CDATA[[
  {
    "key": "4a7dc4b0-cffa-490f-8bc5-305ca594d2fd",
    "mediaKey": "7df540e3-2232-456f-a656-a3e70e0ed604",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutContactImage>
    <aboutContactLoc>
      <Value><![CDATA[Office location]]></Value>
    </aboutContactLoc>
    <aboutContactLocText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </aboutContactLocText>
    <aboutContactPhone>
      <Value><![CDATA[Phone number]]></Value>
    </aboutContactPhone>
    <aboutContactPhoneText>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </aboutContactPhoneText>
    <aboutFourthCardOne>
      <Value><![CDATA[Brandon Newton]]></Value>
    </aboutFourthCardOne>
    <aboutFourthCardTextOne>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </aboutFourthCardTextOne>
    <aboutFourthCardTextThree>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </aboutFourthCardTextThree>
    <aboutFourthCardTextTwo>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </aboutFourthCardTextTwo>
    <aboutFourthCardThree>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </aboutFourthCardThree>
    <aboutFourthCardTwo>
      <Value><![CDATA[AJ Carter]]></Value>
    </aboutFourthCardTwo>
    <aboutFourthExpertHeadFour>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </aboutFourthExpertHeadFour>
    <aboutFourthExpertHeadOne>
      <Value><![CDATA[Tina Fox]]></Value>
    </aboutFourthExpertHeadOne>
    <aboutFourthExpertHeadThree>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </aboutFourthExpertHeadThree>
    <aboutFourthExpertHeadTwo>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </aboutFourthExpertHeadTwo>
    <aboutFourthExpertImageFour>
      <Value><![CDATA[[
  {
    "key": "dfdc928c-77db-49aa-9d8d-3b4ef93aa2f8",
    "mediaKey": "fa2baa6a-66a7-4d57-883c-eda65b8055aa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutFourthExpertImageFour>
    <aboutFourthExpertImageOne>
      <Value><![CDATA[[
  {
    "key": "5eba0197-877f-451c-93a5-7ef8ff036fe0",
    "mediaKey": "e3cc4f9c-edc7-40e0-bb13-684e2295437b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutFourthExpertImageOne>
    <aboutFourthExpertImageThree>
      <Value><![CDATA[[
  {
    "key": "8dadced3-cb99-48a4-a341-9ea2f05cc2cd",
    "mediaKey": "b044f424-a623-412e-b25b-72efa7b55a77",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutFourthExpertImageThree>
    <aboutFourthExpertImageTwo>
      <Value><![CDATA[[
  {
    "key": "23c2fb46-b70e-42a9-84ed-966bc647326f",
    "mediaKey": "4e6d7d8c-e3d4-48ad-8ffe-751259d07cd0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutFourthExpertImageTwo>
    <aboutFourthExpertTextFour>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </aboutFourthExpertTextFour>
    <aboutFourthExpertTextOne>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </aboutFourthExpertTextOne>
    <aboutFourthExpertTextThree>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </aboutFourthExpertTextThree>
    <aboutFourthExpertTextTwo>
      <Value><![CDATA[CEO & Co-Founderat Onatrix]]></Value>
    </aboutFourthExpertTextTwo>
    <aboutFourthHeadline>
      <Value><![CDATA[A team of professionals]]></Value>
    </aboutFourthHeadline>
    <aboutFourthHeadlineTwo>
      <Value><![CDATA[with years of experience]]></Value>
    </aboutFourthHeadlineTwo>
    <aboutFourthImageOne>
      <Value><![CDATA[[
  {
    "key": "10c0a49f-ebe7-41a2-9578-e8874c0924a9",
    "mediaKey": "a43aa9ea-184f-458f-862a-d7d52b2ea0ee",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutFourthImageOne>
    <aboutFourthImageThree>
      <Value><![CDATA[[
  {
    "key": "e54266d8-33d9-4e5f-90c2-5fba485a6f0b",
    "mediaKey": "b6db107f-ba10-4c56-943f-5f78376767f8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutFourthImageThree>
    <aboutFourthImageTwo>
      <Value><![CDATA[[
  {
    "key": "39bfd65b-f16e-40bd-91ba-16a5ab608366",
    "mediaKey": "5795bde5-66d5-4a40-86c6-ddeab122922d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutFourthImageTwo>
    <aboutFourthSectionTitle>
      <Value><![CDATA[OUR EXPERT]]></Value>
    </aboutFourthSectionTitle>
    <aboutSecondHeadlineQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutSecondHeadlineQuote>
    <aboutSecondImage>
      <Value><![CDATA[[
  {
    "key": "e4f3eca0-2f9c-42e0-9166-205ad90160c2",
    "mediaKey": "af84442c-7b36-48c5-aae4-e5beaa14b519",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSecondImage>
    <aboutSecondImageText>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </aboutSecondImageText>
    <aboutSecondTextFive>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat]]></Value>
    </aboutSecondTextFive>
    <aboutSecondTextFour>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </aboutSecondTextFour>
    <aboutSecondTextOne>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </aboutSecondTextOne>
    <aboutSecondTextSeven>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutSecondTextSeven>
    <aboutSecondTextSix>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutSecondTextSix>
    <aboutSecondTextThree>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutSecondTextThree>
    <aboutSecondTextTwo>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.]]></Value>
    </aboutSecondTextTwo>
    <aboutThirdHeadline>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </aboutThirdHeadline>
    <aboutThirdImage>
      <Value><![CDATA[[
  {
    "key": "62a6b53e-6f5d-469e-8e44-89989e12ef22",
    "mediaKey": "629d8d01-5ecd-4a7c-b544-23d89771d230",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutThirdImage>
    <aboutThirdKevin>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </aboutThirdKevin>
    <aboutThirdSectionTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </aboutThirdSectionTitle>
    <aboutThirdSwebank>
      <Value><![CDATA[Swebank]]></Value>
    </aboutThirdSwebank>
    <aboutThirdText>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </aboutThirdText>
    <aboutTopAboutNavText>
      <Value><![CDATA[About]]></Value>
    </aboutTopAboutNavText>
    <aboutTopHeadImage>
      <Value><![CDATA[[
  {
    "key": "5681a3fe-3d2d-4a3e-ab13-501fe85fb592",
    "mediaKey": "ca3a5787-0199-45e8-9648-8e046eafcce4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutTopHeadImage>
    <aboutTopHeadline>
      <Value><![CDATA[About Us]]></Value>
    </aboutTopHeadline>
    <aboutTopHomeNavText>
      <Value><![CDATA[Home]]></Value>
    </aboutTopHomeNavText>
    <aboutTopHomeNavUrl>
      <Value><![CDATA[/]]></Value>
    </aboutTopHomeNavUrl>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerText>
    <footerTextTwo>
      <Value><![CDATA[Themesflat]]></Value>
    </footerTextTwo>
    <headerAboutNavText>
      <Value><![CDATA[About]]></Value>
    </headerAboutNavText>
    <headerAboutNavUrl>
      <Value><![CDATA[/about]]></Value>
    </headerAboutNavUrl>
    <headerAddressText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </headerAddressText>
    <headerContactNavUrl>
      <Value><![CDATA[/contact]]></Value>
    </headerContactNavUrl>
    <headerContactsNavText>
      <Value><![CDATA[Contact]]></Value>
    </headerContactsNavText>
    <headerHomeNavUrl>
      <Value><![CDATA[/]]></Value>
    </headerHomeNavUrl>
    <headerProjectsNavText>
      <Value><![CDATA[Projects]]></Value>
    </headerProjectsNavText>
    <headerProjectsNavUrl>
      <Value><![CDATA[/projects]]></Value>
    </headerProjectsNavUrl>
    <headerServiceNavText>
      <Value><![CDATA[Services]]></Value>
    </headerServiceNavText>
    <headerServicesNavUrl>
      <Value><![CDATA[/services]]></Value>
    </headerServicesNavUrl>
    <onatrixImage>
      <Value><![CDATA[[
  {
    "key": "daab15f6-f058-4b17-b8a6-a6a964821956",
    "mediaKey": "552b222f-743e-49cd-8234-ffb3a21b9845",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </onatrixImage>
    <pageTitle>
      <Value><![CDATA[About]]></Value>
    </pageTitle>
  </Properties>
</Content>