<?xml version="1.0" encoding="utf-8"?>
<Content Key="32fd12b8-6a04-4074-acb7-a5197bd17110" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-10-05T22:14:22</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f77c6669-d0ff-4f79-b3dd-97b0b40b5719">contactPage</Template>
  </Info>
  <Properties>
    <contactImagesFive>
      <Value><![CDATA[[
  {
    "key": "2962fd8e-2133-4b2e-9fff-909589c0b751",
    "mediaKey": "51827036-ad59-492c-ba43-0db2bfc061da",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImagesFive>
    <contactImagesFour>
      <Value><![CDATA[[
  {
    "key": "aeb85c18-bbf5-4723-af60-33cc0cf58fa0",
    "mediaKey": "da608da3-f8bf-44cc-ae41-fdff67b4958b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImagesFour>
    <contactImagesOne>
      <Value><![CDATA[[
  {
    "key": "c675fa35-7924-468f-b78a-fb79bf7920f6",
    "mediaKey": "a1305f3a-7884-40d0-9552-ac720ff15e01",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImagesOne>
    <contactImagesSix>
      <Value><![CDATA[[
  {
    "key": "936636a3-e28f-4f8a-8c1e-3e41cb2632ab",
    "mediaKey": "65808214-c8f0-4ef8-b0c9-2f088c7ca865",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImagesSix>
    <contactImagesThree>
      <Value><![CDATA[[
  {
    "key": "ac5a252c-db57-4a65-b557-ff2069bf28ec",
    "mediaKey": "e9ebf46c-53a7-40aa-962f-238e79624550",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImagesThree>
    <contactImagesTwo>
      <Value><![CDATA[[
  {
    "key": "dec1634a-9cc3-43f7-bbcb-16dbdbdeac6a",
    "mediaKey": "fe70f79a-ccfc-4c35-aee1-468148c0e587",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImagesTwo>
    <contactMapButton>
      <Value><![CDATA[Submit]]></Value>
    </contactMapButton>
    <contactMapHeadline>
      <Value><![CDATA[Let us know about your]]></Value>
    </contactMapHeadline>
    <contactMapHeadlineTwo>
      <Value><![CDATA[next project]]></Value>
    </contactMapHeadlineTwo>
    <contactMapImage>
      <Value><![CDATA[[
  {
    "key": "55745dc2-a05e-4a46-89b0-31d33ccb6569",
    "mediaKey": "c2ca2019-8bf2-48ac-a6fb-02e0b4ae640e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactMapImage>
    <contactMapInputOne>
      <Value><![CDATA[Name]]></Value>
    </contactMapInputOne>
    <contactMapInputThree>
      <Value><![CDATA[Email address]]></Value>
    </contactMapInputThree>
    <contactMapInputTwo>
      <Value><![CDATA[Phone]]></Value>
    </contactMapInputTwo>
    <contactMapOptionOne>
      <Value><![CDATA[Financial consulting]]></Value>
    </contactMapOptionOne>
    <contactMapOptionThree>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </contactMapOptionThree>
    <contactMapOptionTwo>
      <Value><![CDATA[Risk management]]></Value>
    </contactMapOptionTwo>
    <contactMapSectionTitle>
      <Value><![CDATA[REQUEST A CALL BACK]]></Value>
    </contactMapSectionTitle>
    <contactMapText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </contactMapText>
    <contactMiddleEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </contactMiddleEmail>
    <contactMiddleEmailText>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactMiddleEmailText>
    <contactMiddleHeadline>
      <Value><![CDATA[Let us know about]]></Value>
    </contactMiddleHeadline>
    <contactMiddleHeadlineTwo>
      <Value><![CDATA[your next project]]></Value>
    </contactMiddleHeadlineTwo>
    <contactMiddleImage>
      <Value><![CDATA[[
  {
    "key": "328155fa-a6dc-46e7-a12c-5fdfcb8a2f47",
    "mediaKey": "36a125fd-72ab-4759-b29f-e804eb7ba24b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactMiddleImage>
    <contactMiddleLoc>
      <Value><![CDATA[Office location]]></Value>
    </contactMiddleLoc>
    <contactMiddleLocText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactMiddleLocText>
    <contactMiddlePhone>
      <Value><![CDATA[Phone number]]></Value>
    </contactMiddlePhone>
    <contactMiddlePhoneText>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactMiddlePhoneText>
    <contactTopContactText>
      <Value><![CDATA[Contact]]></Value>
    </contactTopContactText>
    <contactTopHeadline>
      <Value><![CDATA[Contact]]></Value>
    </contactTopHeadline>
    <contactTopHomeText>
      <Value><![CDATA[Home]]></Value>
    </contactTopHomeText>
    <contactTopHomeUrl>
      <Value><![CDATA[/]]></Value>
    </contactTopHomeUrl>
    <contactTopImage>
      <Value><![CDATA[[
  {
    "key": "552dc9cd-aed3-4f03-a374-b77d51674e04",
    "mediaKey": "f8565d78-71cb-477a-beaa-a764defdfb7e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactTopImage>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerText>
    <footerTextTwo>
      <Value><![CDATA[Themesflat]]></Value>
    </footerTextTwo>
    <headerAboutNavText>
      <Value><![CDATA[About]]></Value>
    </headerAboutNavText>
    <headerAboutNavUrl>
      <Value><![CDATA[/about]]></Value>
    </headerAboutNavUrl>
    <headerContactNavText>
      <Value><![CDATA[Contact]]></Value>
    </headerContactNavText>
    <headerContactNavUrl>
      <Value><![CDATA[/contact]]></Value>
    </headerContactNavUrl>
    <headerHomeNavUrl>
      <Value><![CDATA[/]]></Value>
    </headerHomeNavUrl>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "dd20505b-9600-4b57-9f6f-59f82b0233fc",
    "mediaKey": "552b222f-743e-49cd-8234-ffb3a21b9845",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <headerProjectsNavText>
      <Value><![CDATA[Projects]]></Value>
    </headerProjectsNavText>
    <headerProjectsNavUrl>
      <Value><![CDATA[/projects]]></Value>
    </headerProjectsNavUrl>
    <headerServicesNavText>
      <Value><![CDATA[Services]]></Value>
    </headerServicesNavText>
    <headerServicesNavUrl>
      <Value><![CDATA[/services]]></Value>
    </headerServicesNavUrl>
    <headerText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </headerText>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
  </Properties>
</Content>