<?xml version="1.0" encoding="utf-8"?>
<Content Key="6fd9700f-a905-4c7c-b670-7a68b96861a7" Alias="Official Website - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialWebsiteHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-10-04T20:27:57</CreateDate>
    <NodeName Default="Official Website - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="12efbf9e-90b2-43c8-82ea-86d391b55c74">homePage</Template>
  </Info>
  <Properties>
    <aboutButton>
      <Value><![CDATA[Submit]]></Value>
    </aboutButton>
    <aboutFormHeadline>
      <Value><![CDATA[Request a call back]]></Value>
    </aboutFormHeadline>
    <aboutFormText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat]]></Value>
    </aboutFormText>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutInputEmail>
      <Value><![CDATA[Email address]]></Value>
    </aboutInputEmail>
    <aboutInputName>
      <Value><![CDATA[Name]]></Value>
    </aboutInputName>
    <aboutInputPhone>
      <Value><![CDATA[Phone]]></Value>
    </aboutInputPhone>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSelectOptionOne>
      <Value><![CDATA[Financial consulting]]></Value>
    </aboutSelectOptionOne>
    <aboutSelectOptionThree>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </aboutSelectOptionThree>
    <aboutSelectOptionTwo>
      <Value><![CDATA[Risk management]]></Value>
    </aboutSelectOptionTwo>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "e82aa941-ebc9-4835-9624-43db258a0ba3",
    "mediaKey": "ae3e451c-c966-46f6-85c3-fc567bc9d96a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <chooseButton>
      <Value><![CDATA[Read our story]]></Value>
    </chooseButton>
    <chooseHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </chooseHeadline>
    <chooseHeadlineTwo>
      <Value><![CDATA[4.000+ clients]]></Value>
    </chooseHeadlineTwo>
    <chooseImage>
      <Value><![CDATA[[
  {
    "key": "0c952895-3793-40cc-9218-43639ff7b99b",
    "mediaKey": "1e053ecb-2144-4e02-9f14-b82e37534013",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </chooseImage>
    <chooseText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </chooseText>
    <footerHeadline>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerHeadline>
    <footerHeadlineTwo>
      <Value><![CDATA[Themesflat]]></Value>
    </footerHeadlineTwo>
    <headerAboutNavText>
      <Value><![CDATA[About]]></Value>
    </headerAboutNavText>
    <headerAboutNavUrl>
      <Value><![CDATA[/about]]></Value>
    </headerAboutNavUrl>
    <headerAddressText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </headerAddressText>
    <headerContactNavText>
      <Value><![CDATA[Contact]]></Value>
    </headerContactNavText>
    <headerContactNavUrl>
      <Value><![CDATA[/contact]]></Value>
    </headerContactNavUrl>
    <headerHomeNavUrl>
      <Value><![CDATA[/]]></Value>
    </headerHomeNavUrl>
    <headerOnatrixImage>
      <Value><![CDATA[[
  {
    "key": "e0fd2f62-61d0-4a40-8839-2ba34d647391",
    "mediaKey": "552b222f-743e-49cd-8234-ffb3a21b9845",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerOnatrixImage>
    <headerProjectsNavText>
      <Value><![CDATA[Projects]]></Value>
    </headerProjectsNavText>
    <headerProjectsNavUrl>
      <Value><![CDATA[/projects]]></Value>
    </headerProjectsNavUrl>
    <headerServiceNavText>
      <Value><![CDATA[Services]]></Value>
    </headerServiceNavText>
    <headerServicesNavUrl>
      <Value><![CDATA[/services]]></Value>
    </headerServicesNavUrl>
    <heroButton>
      <Value><![CDATA[Contact us]]></Value>
    </heroButton>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroImg>
      <Value><![CDATA[[
  {
    "key": "3c0821e4-734c-48f5-abc3-6290b2105736",
    "mediaKey": "5037efa5-89a1-486d-96d9-64230673b076",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImg>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.]]></Value>
    </heroText>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <partnerImageFive>
      <Value><![CDATA[[
  {
    "key": "b8c89af8-f53c-4cc2-8097-dec51a20d7bf",
    "mediaKey": "641cfd7e-4d93-481c-a59c-090de79bf59e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerImageFive>
    <partnerImageFour>
      <Value><![CDATA[[
  {
    "key": "4701c528-22e7-489d-99b9-558666c55a38",
    "mediaKey": "f5f05237-1665-40d0-bf87-77ae9b000c85",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerImageFour>
    <partnerImageOne>
      <Value><![CDATA[[
  {
    "key": "5811d05e-1d8b-4a25-b948-06be40c041a6",
    "mediaKey": "befa8558-06e9-49df-8b4b-e20a51520777",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerImageOne>
    <partnerImageSix>
      <Value><![CDATA[[
  {
    "key": "41641509-4b02-41b0-9347-1cf588528034",
    "mediaKey": "3d98b696-02d4-4816-a897-272289d331f3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerImageSix>
    <partnerImageThree>
      <Value><![CDATA[[
  {
    "key": "369840c1-bc9b-46a5-9550-d2181514c452",
    "mediaKey": "e5124a4f-6a7b-404e-b564-c086cc411609",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerImageThree>
    <partnerImageTwo>
      <Value><![CDATA[[
  {
    "key": "02d62c2a-e0c9-4c42-8581-23062f6ba207",
    "mediaKey": "4fd8cbea-b4b6-46d7-a788-81b4f88caa82",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerImageTwo>
    <projectCardHeadlineFour>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </projectCardHeadlineFour>
    <projectCardHeadlineOne>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectCardHeadlineOne>
    <projectCardHeadlineThree>
      <Value><![CDATA[Financial Advisor to Irra Corp Inc.]]></Value>
    </projectCardHeadlineThree>
    <projectCardHeadlineTwo>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </projectCardHeadlineTwo>
    <projectCardImageFour>
      <Value><![CDATA[[
  {
    "key": "000b76b4-fdbf-4a9e-879d-f21c1758786c",
    "mediaKey": "54f1326c-9608-4849-a02f-9997cd13ff1a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCardImageFour>
    <projectCardImageOne>
      <Value><![CDATA[[
  {
    "key": "e4686475-c912-4a2c-beae-78ad9b371a11",
    "mediaKey": "47de5a78-83f8-48d1-874b-6e159606d166",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCardImageOne>
    <projectCardImageThree>
      <Value><![CDATA[[
  {
    "key": "f333b291-4cdf-41a4-b2be-c2da1187da85",
    "mediaKey": "a53f677d-587a-4973-b034-2975349fcbd4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCardImageThree>
    <projectCardImageTwo>
      <Value><![CDATA[[
  {
    "key": "defa2a14-0ca0-4488-bf74-06f9dc5af557",
    "mediaKey": "58339852-e32e-4f5a-8567-a04891b7e95d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCardImageTwo>
    <projectCardTextFour>
      <Value><![CDATA[Financial Services]]></Value>
    </projectCardTextFour>
    <projectCardTextOne>
      <Value><![CDATA[Financial Services]]></Value>
    </projectCardTextOne>
    <projectCardTextThree>
      <Value><![CDATA[Financial Services]]></Value>
    </projectCardTextThree>
    <projectCardTextTwo>
      <Value><![CDATA[Financial Services]]></Value>
    </projectCardTextTwo>
    <projectHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </projectHeadline>
    <projectSectionTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectSectionTitle>
    <serviceFiveCardHeadline>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceFiveCardHeadline>
    <serviceFiveCardImage>
      <Value><![CDATA[[
  {
    "key": "e3f66f46-2cb6-4cb9-9c38-7af1b5c93115",
    "mediaKey": "96e2db2a-55ed-43ae-91cc-f5430b0b811b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceFiveCardImage>
    <serviceFiveCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceFiveCardText>
    <serviceFourCardHeadline>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceFourCardHeadline>
    <serviceFourCardImage>
      <Value><![CDATA[[
  {
    "key": "07cdabfc-477f-4e9b-8310-f65933b4201b",
    "mediaKey": "5c1fd03d-89be-43b3-a841-f95c4e110a7e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceFourCardImage>
    <serviceFourCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceFourCardText>
    <serviceHeadline>
      <Value><![CDATA[We Provide The Solutions]]></Value>
    </serviceHeadline>
    <serviceHeadlineTwo>
      <Value><![CDATA[To Grow Your Business Faster]]></Value>
    </serviceHeadlineTwo>
    <serviceOneCardImage>
      <Value><![CDATA[[
  {
    "key": "f1512d25-a6b7-4caa-bf15-d8203e2f5ee3",
    "mediaKey": "bd7d9df9-fdbf-4ff6-9ceb-dfc7a699f708",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceOneCardImage>
    <serviceOneCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceOneCardText>
    <serviceSectionTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </serviceSectionTitle>
    <serviceSixCardHeadline>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceSixCardHeadline>
    <serviceSixCardImage>
      <Value><![CDATA[[
  {
    "key": "005e3336-19c7-4df4-b1d7-021c841cda7e",
    "mediaKey": "5ddc05ce-8865-4567-9c1f-7a607b1305ee",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSixCardImage>
    <serviceSixCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSixCardText>
    <servicesOneCardHeadline>
      <Value><![CDATA[Risk Management]]></Value>
    </servicesOneCardHeadline>
    <serviceThreeCardHeadline>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceThreeCardHeadline>
    <serviceThreeCardImage>
      <Value><![CDATA[[
  {
    "key": "8432ade3-e328-4048-9e25-1df9a721246c",
    "mediaKey": "b16a2d9c-3dec-4133-8237-669074018adb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceThreeCardImage>
    <serviceThreeCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceThreeCardText>
    <serviceTwoCardHeadline>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceTwoCardHeadline>
    <serviceTwoCardImage>
      <Value><![CDATA[[
  {
    "key": "b667db69-4ad2-4bfe-af7e-7fb12bf2187a",
    "mediaKey": "a42cc497-5c24-47a0-9536-1610b1a9dee3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceTwoCardImage>
    <serviceTwoCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceTwoCardText>
    <successHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successHeadline>
    <successImage>
      <Value><![CDATA[[
  {
    "key": "3cc50dff-fd96-47d6-b6df-1ff476b9ecee",
    "mediaKey": "b7cd1179-9ae8-4905-aca6-c5c715f836e0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successImage>
    <successSectionTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successSectionTitle>
    <successStoryHeadline>
      <Value><![CDATA[689]]></Value>
    </successStoryHeadline>
    <successStoryHeadlineThree>
      <Value><![CDATA[125]]></Value>
    </successStoryHeadlineThree>
    <successStoryHeadlineTwo>
      <Value><![CDATA[370]]></Value>
    </successStoryHeadlineTwo>
    <successStoryText>
      <Value><![CDATA[More than 100 customers have been served]]></Value>
    </successStoryText>
    <successStoryTextThree>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successStoryTextThree>
    <successStoryTextTwo>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successStoryTextTwo>
  </Properties>
</Content>