<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfbecb30-34d6-4335-867f-e3172deecc21" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-10-05T20:04:15</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b539ce67-5249-4542-be39-c04ca0bfe905">projectsPage</Template>
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerText>
    <footerTextTwo>
      <Value><![CDATA[Themesflat]]></Value>
    </footerTextTwo>
    <headerAboutNavText>
      <Value><![CDATA[About]]></Value>
    </headerAboutNavText>
    <headerAboutNavUrl>
      <Value><![CDATA[/about]]></Value>
    </headerAboutNavUrl>
    <headerContactNavText>
      <Value><![CDATA[Contact]]></Value>
    </headerContactNavText>
    <headerContactNavUrl>
      <Value><![CDATA[/contact]]></Value>
    </headerContactNavUrl>
    <headerHomeNavUrl>
      <Value><![CDATA[/]]></Value>
    </headerHomeNavUrl>
    <headerProjectsNavText>
      <Value><![CDATA[Projects]]></Value>
    </headerProjectsNavText>
    <headerProjectsNavUrl>
      <Value><![CDATA[/projects]]></Value>
    </headerProjectsNavUrl>
    <headerServicesNavText>
      <Value><![CDATA[Services]]></Value>
    </headerServicesNavText>
    <headerServicesNavUrl>
      <Value><![CDATA[/services]]></Value>
    </headerServicesNavUrl>
    <headerText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </headerText>
    <onatrixImage>
      <Value><![CDATA[[
  {
    "key": "710407bc-e49f-479d-a8f7-7e77aac1bb43",
    "mediaKey": "552b222f-743e-49cd-8234-ffb3a21b9845",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </onatrixImage>
    <pageTitle>
      <Value><![CDATA[Projects]]></Value>
    </pageTitle>
    <projectCardDateFour>
      <Value><![CDATA[January 3, 2024]]></Value>
    </projectCardDateFour>
    <projectCardDateOne>
      <Value><![CDATA[June 15, 2024]]></Value>
    </projectCardDateOne>
    <projectCardDateThree>
      <Value><![CDATA[February 6, 2024]]></Value>
    </projectCardDateThree>
    <projectCardDateTwo>
      <Value><![CDATA[May 17, 2024]]></Value>
    </projectCardDateTwo>
    <projectCardHeadlineFour>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </projectCardHeadlineFour>
    <projectCardHeadlineOne>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectCardHeadlineOne>
    <projectCardHeadlineThree>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </projectCardHeadlineThree>
    <projectCardHeadlineTwo>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </projectCardHeadlineTwo>
    <projectCardImageFour>
      <Value><![CDATA[[
  {
    "key": "2a3fe1d7-3ad0-423e-b976-85cd48b9df7b",
    "mediaKey": "3fad1cec-035a-46c5-8666-605bf4b00a57",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCardImageFour>
    <projectCardImageOne>
      <Value><![CDATA[[
  {
    "key": "0420e561-69f4-4a69-8a08-152e4f36e330",
    "mediaKey": "78869e49-8f85-4ee7-961f-eed7bffe36af",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCardImageOne>
    <projectCardImageThree>
      <Value><![CDATA[[
  {
    "key": "b27277bc-3e4d-4a73-b6cc-7c3fd8274359",
    "mediaKey": "6f711202-9d03-4f26-8c46-8e603d037e2f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCardImageThree>
    <projectCardImageTwo>
      <Value><![CDATA[[
  {
    "key": "9b717031-ce40-40b1-ae1b-bd7efa16d81e",
    "mediaKey": "14fa6fbf-d888-4339-aef4-69f909958427",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCardImageTwo>
    <projectCardReadMoreOne>
      <Value><![CDATA[Read More]]></Value>
    </projectCardReadMoreOne>
    <projectCardTextOne>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectCardTextOne>
    <projectContactEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </projectContactEmail>
    <projectContactEmailText>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </projectContactEmailText>
    <projectContactHeadline>
      <Value><![CDATA[Let us know about]]></Value>
    </projectContactHeadline>
    <projectContactHeadlineTwo>
      <Value><![CDATA[your next project]]></Value>
    </projectContactHeadlineTwo>
    <projectContactImage>
      <Value><![CDATA[[
  {
    "key": "325bfdcc-886b-4f1e-9050-03f9742be26f",
    "mediaKey": "e25b3faa-57d5-4bae-8348-f3391cf54deb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectContactImage>
    <projectContactLoc>
      <Value><![CDATA[Office location]]></Value>
    </projectContactLoc>
    <projectContactLocText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </projectContactLocText>
    <projectContactPhone>
      <Value><![CDATA[Phone number]]></Value>
    </projectContactPhone>
    <projectContactPhoneText>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </projectContactPhoneText>
    <projectOnlineHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </projectOnlineHeadline>
    <projectOnlineInput>
      <Value><![CDATA[Email address]]></Value>
    </projectOnlineInput>
    <projectOnlineText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </projectOnlineText>
    <projectPageNext>
      <Value><![CDATA[Next]]></Value>
    </projectPageNext>
    <projectPageOne>
      <Value><![CDATA[1]]></Value>
    </projectPageOne>
    <projectPagePrev>
      <Value><![CDATA[Prev]]></Value>
    </projectPagePrev>
    <projectPageTwo>
      <Value><![CDATA[2]]></Value>
    </projectPageTwo>
    <projectTagsApp>
      <Value><![CDATA[App]]></Value>
    </projectTagsApp>
    <projectTagsBusiness>
      <Value><![CDATA[Business]]></Value>
    </projectTagsBusiness>
    <projectTagsBusinessPlans>
      <Value><![CDATA[Business plans]]></Value>
    </projectTagsBusinessPlans>
    <projectTagsFinance>
      <Value><![CDATA[Finance]]></Value>
    </projectTagsFinance>
    <projectTagsHeadline>
      <Value><![CDATA[Tags]]></Value>
    </projectTagsHeadline>
    <projectTagsInsights>
      <Value><![CDATA[Insights]]></Value>
    </projectTagsInsights>
    <projectTagsPricing>
      <Value><![CDATA[Pricing]]></Value>
    </projectTagsPricing>
    <projectTagsProject>
      <Value><![CDATA[Project]]></Value>
    </projectTagsProject>
    <projectTagsReport>
      <Value><![CDATA[Report]]></Value>
    </projectTagsReport>
    <projectTopHeadImage>
      <Value><![CDATA[[
  {
    "key": "9cd6d50e-45f0-4c07-bea9-a4afccadf02b",
    "mediaKey": "7689ada0-0112-448a-ad49-f49e3999891b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectTopHeadImage>
    <projectTopHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </projectTopHeadline>
    <projectTopHomeText>
      <Value><![CDATA[Home]]></Value>
    </projectTopHomeText>
    <projectTopHomeUrl>
      <Value><![CDATA[/]]></Value>
    </projectTopHomeUrl>
    <projectTopProjectText>
      <Value><![CDATA[Projects]]></Value>
    </projectTopProjectText>
  </Properties>
</Content>