<?xml version="1.0" encoding="utf-8"?>
<Content Key="95eaf4b0-a40f-4f84-9fee-fc83c635a603" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-10-05T17:36:17</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="142e9ccc-30d9-4c72-8fbb-fdd2ba503147">servicesPage</Template>
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerText>
    <footerTextTwo>
      <Value><![CDATA[Themesflat]]></Value>
    </footerTextTwo>
    <onatrixImage>
      <Value><![CDATA[[
  {
    "key": "92aee03e-b979-4620-bf97-7937506c4b60",
    "mediaKey": "552b222f-743e-49cd-8234-ffb3a21b9845",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </onatrixImage>
    <pageTitle>
      <Value><![CDATA[Services]]></Value>
    </pageTitle>
    <serviceCardsHeadlineFive>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceCardsHeadlineFive>
    <serviceCardsHeadlineFour>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceCardsHeadlineFour>
    <serviceCardsHeadlineOne>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceCardsHeadlineOne>
    <serviceCardsHeadlineSix>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceCardsHeadlineSix>
    <serviceCardsHeadlineThree>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceCardsHeadlineThree>
    <serviceCardsHeadlineTwo>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceCardsHeadlineTwo>
    <serviceCardsImageFive>
      <Value><![CDATA[[
  {
    "key": "6a13f685-ab0d-4d2b-a496-229712cef1e2",
    "mediaKey": "4f5b3c2a-5226-470b-bb10-b0be2706fc4e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardsImageFive>
    <serviceCardsImageFour>
      <Value><![CDATA[[
  {
    "key": "bf5d2515-ce6e-4249-a6c1-f3c0e0502075",
    "mediaKey": "7df27fdf-cbb0-45f0-8eea-f1cfc5361f2f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardsImageFour>
    <serviceCardsImageOne>
      <Value><![CDATA[[
  {
    "key": "c101e1c3-6501-4a55-97a5-40e66689e471",
    "mediaKey": "c3f2d0d3-1f0d-4612-872c-2f58fc724c82",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardsImageOne>
    <serviceCardsImageSix>
      <Value><![CDATA[[
  {
    "key": "29cefe7d-ba26-4160-9a77-598cf1ac025e",
    "mediaKey": "35187bc5-6aa6-4b0a-b83c-015296c59296",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardsImageSix>
    <serviceCardsImageThree>
      <Value><![CDATA[[
  {
    "key": "4fd7464e-88ea-4d06-a457-9916adb9c5fd",
    "mediaKey": "80340367-ea93-417e-a7b9-d29185051119",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardsImageThree>
    <serviceCardsImageTwo>
      <Value><![CDATA[[
  {
    "key": "0ec57970-97f0-4e28-919b-9c90e8302505",
    "mediaKey": "033cea87-c89b-410f-bd73-6233fc28c20b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardsImageTwo>
    <serviceCardsTextFive>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardsTextFive>
    <serviceCardsTextFour>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardsTextFour>
    <serviceCardsTextOne>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardsTextOne>
    <serviceCardsTextSix>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardsTextSix>
    <serviceCardsTextThree>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardsTextThree>
    <serviceCardsTextTwo>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardsTextTwo>
    <serviceContactEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </serviceContactEmail>
    <serviceContactEmailText>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </serviceContactEmailText>
    <serviceContactHeadline>
      <Value><![CDATA[Let us know about]]></Value>
    </serviceContactHeadline>
    <serviceContactHeadlineTwo>
      <Value><![CDATA[your next project]]></Value>
    </serviceContactHeadlineTwo>
    <serviceContactImage>
      <Value><![CDATA[[
  {
    "key": "bfe848c7-08a3-46a9-a15b-78b6bbf21481",
    "mediaKey": "12969ac5-9893-4c69-9d1e-a89c15dc781a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceContactImage>
    <serviceContactLoc>
      <Value><![CDATA[Office location]]></Value>
    </serviceContactLoc>
    <serviceContactLocText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </serviceContactLocText>
    <serviceContactPhone>
      <Value><![CDATA[Phone number]]></Value>
    </serviceContactPhone>
    <serviceContactPhoneText>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </serviceContactPhoneText>
    <serviceMiddleHeadline>
      <Value><![CDATA[We Provide The Solutions]]></Value>
    </serviceMiddleHeadline>
    <serviceMiddleHeadlineTwo>
      <Value><![CDATA[To Grow Your Business Faster]]></Value>
    </serviceMiddleHeadlineTwo>
    <serviceMiddlePageNext>
      <Value><![CDATA[Next]]></Value>
    </serviceMiddlePageNext>
    <serviceMiddlePageOne>
      <Value><![CDATA[1]]></Value>
    </serviceMiddlePageOne>
    <serviceMiddlePagePrev>
      <Value><![CDATA[Prev]]></Value>
    </serviceMiddlePagePrev>
    <serviceMiddlePageTwo>
      <Value><![CDATA[2]]></Value>
    </serviceMiddlePageTwo>
    <servicesAboutUrl>
      <Value><![CDATA[/about]]></Value>
    </servicesAboutUrl>
    <servicesAboutUrlText>
      <Value><![CDATA[About]]></Value>
    </servicesAboutUrlText>
    <servicesContactUrl>
      <Value><![CDATA[/contact]]></Value>
    </servicesContactUrl>
    <servicesContactUrlText>
      <Value><![CDATA[Contacts]]></Value>
    </servicesContactUrlText>
    <servicesHeaderText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </servicesHeaderText>
    <servicesHomeNavUrl>
      <Value><![CDATA[/]]></Value>
    </servicesHomeNavUrl>
    <servicesProjectsUrl>
      <Value><![CDATA[/projects]]></Value>
    </servicesProjectsUrl>
    <servicesProjectsUrlText>
      <Value><![CDATA[Projects]]></Value>
    </servicesProjectsUrlText>
    <servicesServicesUrl>
      <Value><![CDATA[/services]]></Value>
    </servicesServicesUrl>
    <servicesServicesUrlText>
      <Value><![CDATA[Services]]></Value>
    </servicesServicesUrlText>
    <serviceTopHeadImage>
      <Value><![CDATA[[
  {
    "key": "be006e44-7605-4731-bb30-66e9d742f3f6",
    "mediaKey": "fd8965e7-506d-4859-a86d-6ae767465ee1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceTopHeadImage>
    <serviceTopHeadline>
      <Value><![CDATA[Services]]></Value>
    </serviceTopHeadline>
    <serviceTopHomeNavText>
      <Value><![CDATA[Home]]></Value>
    </serviceTopHomeNavText>
    <serviceTopHomeNavUrl>
      <Value><![CDATA[/]]></Value>
    </serviceTopHomeNavUrl>
    <serviceTopServiceText>
      <Value><![CDATA[Services]]></Value>
    </serviceTopServiceText>
  </Properties>
</Content>