<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1305f3a-7884-40d0-9552-ac720ff15e01" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="880219ef-58d2-426d-a926-a9c0ad8635bb">Contact Images</Parent>
    <Path>/ContactImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:21:29</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zdrjeq25/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>