<?xml version="1.0" encoding="utf-8"?>
<Media Key="befa8558-06e9-49df-8b4b-e20a51520777" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:15:06</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vi2fqxhs/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>