<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe70f79a-ccfc-4c35-aee1-468148c0e587" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="880219ef-58d2-426d-a926-a9c0ad8635bb">Contact Images</Parent>
    <Path>/ContactImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:21:23</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nbfnehhh/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>