<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9ebf46c-53a7-40aa-962f-238e79624550" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="880219ef-58d2-426d-a926-a9c0ad8635bb">Contact Images</Parent>
    <Path>/ContactImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:21:32</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tzefsc32/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>