<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5124a4f-6a7b-404e-b564-c086cc411609" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:15:16</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xx1lab1a/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>