<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5f05237-1665-40d0-bf87-77ae9b000c85" Alias="04.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:15:19</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yxxfef14/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>