<?xml version="1.0" encoding="utf-8"?>
<Media Key="da608da3-f8bf-44cc-ae41-fdff67b4958b" Alias="04.svg" Level="2">
  <Info>
    <Parent Key="880219ef-58d2-426d-a926-a9c0ad8635bb">Contact Images</Parent>
    <Path>/ContactImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:21:30</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/keymeofe/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>