<?xml version="1.0" encoding="utf-8"?>
<Media Key="51827036-ad59-492c-ba43-0db2bfc061da" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="880219ef-58d2-426d-a926-a9c0ad8635bb">Contact Images</Parent>
    <Path>/ContactImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:21:24</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ytgdbm0c/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>