<?xml version="1.0" encoding="utf-8"?>
<Media Key="641cfd7e-4d93-481c-a59c-090de79bf59e" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:15:24</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rral3bui/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>