<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d98b696-02d4-4816-a897-272289d331f3" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:15:28</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mqfdvx4p/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>