<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6db107f-ba10-4c56-943f-5f78376767f8" Alias="aaron-pic.svg" Level="2">
  <Info>
    <Parent Key="21e64257-f76d-499f-9978-c2e582903846">About Images</Parent>
    <Path>/AboutImages/aaronPicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:17:03</CreateDate>
    <NodeName Default="aaron-pic.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rwwhsval/aaron-pic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>