<?xml version="1.0" encoding="utf-8"?>
<Media Key="21e64257-f76d-499f-9978-c2e582903846" Alias="About Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T18:15:57</CreateDate>
    <NodeName Default="About Images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>