<?xml version="1.0" encoding="utf-8"?>
<Media Key="b16a2d9c-3dec-4133-8237-669074018adb" Alias="assurance-img.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/assuranceImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:13:31</CreateDate>
    <NodeName Default="assurance-img.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n0imqu5x/assurance-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>