<?xml version="1.0" encoding="utf-8"?>
<Media Key="033cea87-c89b-410f-bd73-6233fc28c20b" Alias="bondsncomm-img.svg" Level="2">
  <Info>
    <Parent Key="a9aac1e7-259d-4424-a4cb-85fcda5c93bf">Services Images</Parent>
    <Path>/ServicesImages/bondsncommImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:18:59</CreateDate>
    <NodeName Default="bondsncomm-img.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ovlj3yma/bondsncomm-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>