<?xml version="1.0" encoding="utf-8"?>
<Media Key="a42cc497-5c24-47a0-9536-1610b1a9dee3" Alias="bondsncomm-img.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/bondsncommImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:13:45</CreateDate>
    <NodeName Default="bondsncomm-img.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mv2j2rr5/bondsncomm-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>