<?xml version="1.0" encoding="utf-8"?>
<Media Key="a43aa9ea-184f-458f-862a-d7d52b2ea0ee" Alias="brandon-pic.svg" Level="2">
  <Info>
    <Parent Key="21e64257-f76d-499f-9978-c2e582903846">About Images</Parent>
    <Path>/AboutImages/brandonPicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:17:00</CreateDate>
    <NodeName Default="brandon-pic.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dakjqrsu/brandon-pic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>