<?xml version="1.0" encoding="utf-8"?>
<Media Key="7df540e3-2232-456f-a656-a3e70e0ed604" Alias="contact-pic.svg" Level="2">
  <Info>
    <Parent Key="21e64257-f76d-499f-9978-c2e582903846">About Images</Parent>
    <Path>/AboutImages/contactPicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:17:43</CreateDate>
    <NodeName Default="contact-pic.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ch4fphzj/contact-pic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>