<?xml version="1.0" encoding="utf-8"?>
<Media Key="880219ef-58d2-426d-a926-a9c0ad8635bb" Alias="Contact Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T18:20:31</CreateDate>
    <NodeName Default="Contact Images" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>