<?xml version="1.0" encoding="utf-8"?>
<Media Key="12969ac5-9893-4c69-9d1e-a89c15dc781a" Alias="contact-pic.svg" Level="2">
  <Info>
    <Parent Key="a9aac1e7-259d-4424-a4cb-85fcda5c93bf">Services Images</Parent>
    <Path>/ServicesImages/contactPicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:19:09</CreateDate>
    <NodeName Default="contact-pic.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g2tdj2ei/contact-pic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>