<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f5b3c2a-5226-470b-bb10-b0be2706fc4e" Alias="financialadvisor-img.svg" Level="2">
  <Info>
    <Parent Key="a9aac1e7-259d-4424-a4cb-85fcda5c93bf">Services Images</Parent>
    <Path>/ServicesImages/financialadvisorImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:18:53</CreateDate>
    <NodeName Default="financialadvisor-img.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1captlj3/financialadvisor-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>