<?xml version="1.0" encoding="utf-8"?>
<Media Key="96e2db2a-55ed-43ae-91cc-f5430b0b811b" Alias="financialadvisor-img.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/financialadvisorImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:13:30</CreateDate>
    <NodeName Default="financialadvisor-img.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1btea3hw/financialadvisor-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>