<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd8965e7-506d-4859-a86d-6ae767465ee1" Alias="head-img.svg" Level="2">
  <Info>
    <Parent Key="a9aac1e7-259d-4424-a4cb-85fcda5c93bf">Services Images</Parent>
    <Path>/ServicesImages/headImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:18:27</CreateDate>
    <NodeName Default="head-img.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cxmcwh1w/head-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>