<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8565d78-71cb-477a-beaa-a764defdfb7e" Alias="head-img.svg" Level="2">
  <Info>
    <Parent Key="880219ef-58d2-426d-a926-a9c0ad8635bb">Contact Images</Parent>
    <Path>/ContactImages/headImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:20:51</CreateDate>
    <NodeName Default="head-img.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rlqpigwq/head-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>