<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca3a5787-0199-45e8-9648-8e046eafcce4" Alias="head-img.svg" Level="2">
  <Info>
    <Parent Key="21e64257-f76d-499f-9978-c2e582903846">About Images</Parent>
    <Path>/AboutImages/headImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:16:17</CreateDate>
    <NodeName Default="head-img.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oxvjqkec/head-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>