<?xml version="1.0" encoding="utf-8"?>
<Media Key="7689ada0-0112-448a-ad49-f49e3999891b" Alias="head-img.svg" Level="2">
  <Info>
    <Parent Key="ceed4781-3653-4d63-9f55-95ec44d211f2">Project Images</Parent>
    <Path>/ProjectImages/headImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:19:39</CreateDate>
    <NodeName Default="head-img.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kiicxfaj/head-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>