<?xml version="1.0" encoding="utf-8"?>
<Media Key="5037efa5-89a1-486d-96d9-64230673b076" Alias="Hero-img.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/HeroImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:12:43</CreateDate>
    <NodeName Default="Hero-img.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k3jjlmv0/hero-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>