<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e6d7d8c-e3d4-48ad-8ffe-751259d07cd0" Alias="kerr-pic.svg" Level="2">
  <Info>
    <Parent Key="21e64257-f76d-499f-9978-c2e582903846">About Images</Parent>
    <Path>/AboutImages/kerrPicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:17:23</CreateDate>
    <NodeName Default="kerr-pic.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p1am5lgp/kerr-pic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>