<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa2baa6a-66a7-4d57-883c-eda65b8055aa" Alias="kevin-pic.svg" Level="2">
  <Info>
    <Parent Key="21e64257-f76d-499f-9978-c2e582903846">About Images</Parent>
    <Path>/AboutImages/kevinPicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:17:10</CreateDate>
    <NodeName Default="kevin-pic.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/taljsgf2/kevin-pic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>