<?xml version="1.0" encoding="utf-8"?>
<Media Key="629d8d01-5ecd-4a7c-b544-23d89771d230" Alias="kevin-gardner.svg" Level="2">
  <Info>
    <Parent Key="21e64257-f76d-499f-9978-c2e582903846">About Images</Parent>
    <Path>/AboutImages/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:16:39</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4myd5agw/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>