<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2ca2019-8bf2-48ac-a6fb-02e0b4ae640e" Alias="map 1.svg" Level="2">
  <Info>
    <Parent Key="880219ef-58d2-426d-a926-a9c0ad8635bb">Contact Images</Parent>
    <Path>/ContactImages/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:21:08</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3oohqihj/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>