<?xml version="1.0" encoding="utf-8"?>
<Media Key="b044f424-a623-412e-b25b-72efa7b55a77" Alias="miranda-pic.svg" Level="2">
  <Info>
    <Parent Key="21e64257-f76d-499f-9978-c2e582903846">About Images</Parent>
    <Path>/AboutImages/mirandaPicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:17:18</CreateDate>
    <NodeName Default="miranda-pic.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0zepmury/miranda-pic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>