<?xml version="1.0" encoding="utf-8"?>
<Media Key="552b222f-743e-49cd-8234-ffb3a21b9845" Alias="Onatrix-brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:21:47</CreateDate>
    <NodeName Default="Onatrix-brand.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1wpjtnzf/onatrix-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>