<?xml version="1.0" encoding="utf-8"?>
<Media Key="78869e49-8f85-4ee7-961f-eed7bffe36af" Alias="pj1-compressed.svg" Level="2">
  <Info>
    <Parent Key="ceed4781-3653-4d63-9f55-95ec44d211f2">Project Images</Parent>
    <Path>/ProjectImages/pj1Compressedsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:20:04</CreateDate>
    <NodeName Default="pj1-compressed.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xmrdjgu4/pj1-compressed.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>