<?xml version="1.0" encoding="utf-8"?>
<Media Key="14fa6fbf-d888-4339-aef4-69f909958427" Alias="pj2-compressed.svg" Level="2">
  <Info>
    <Parent Key="ceed4781-3653-4d63-9f55-95ec44d211f2">Project Images</Parent>
    <Path>/ProjectImages/pj2Compressedsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:20:03</CreateDate>
    <NodeName Default="pj2-compressed.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jxjfr3ut/pj2-compressed.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>