<?xml version="1.0" encoding="utf-8"?>
<Media Key="58339852-e32e-4f5a-8567-a04891b7e95d" Alias="pj2.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:14:44</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uasjdorv/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>