<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f711202-9d03-4f26-8c46-8e603d037e2f" Alias="pj3-compressed.svg" Level="2">
  <Info>
    <Parent Key="ceed4781-3653-4d63-9f55-95ec44d211f2">Project Images</Parent>
    <Path>/ProjectImages/pj3Compressedsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:20:03</CreateDate>
    <NodeName Default="pj3-compressed.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4cxnhdiy/pj3-compressed.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>