<?xml version="1.0" encoding="utf-8"?>
<Media Key="a53f677d-587a-4973-b034-2975349fcbd4" Alias="pj3.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/pj3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:14:52</CreateDate>
    <NodeName Default="pj3.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r5nj0r1b/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>