<?xml version="1.0" encoding="utf-8"?>
<Media Key="54f1326c-9608-4849-a02f-9997cd13ff1a" Alias="pj4.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:14:55</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t0hfhnqt/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>