<?xml version="1.0" encoding="utf-8"?>
<Media Key="ceed4781-3653-4d63-9f55-95ec44d211f2" Alias="Project Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T18:19:26</CreateDate>
    <NodeName Default="Project Images" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>