<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3f2d0d3-1f0d-4612-872c-2f58fc724c82" Alias="riskmanagement-img.svg" Level="2">
  <Info>
    <Parent Key="a9aac1e7-259d-4424-a4cb-85fcda5c93bf">Services Images</Parent>
    <Path>/ServicesImages/riskmanagementImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:18:52</CreateDate>
    <NodeName Default="riskmanagement-img.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/efwfaiiw/riskmanagement-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>