<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd7d9df9-fdbf-4ff6-9ceb-dfc7a699f708" Alias="riskmanagement-img.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/riskmanagementImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:13:28</CreateDate>
    <NodeName Default="riskmanagement-img.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bmqn4x3e/riskmanagement-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>