<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9aac1e7-259d-4424-a4cb-85fcda5c93bf" Alias="Services Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T18:18:21</CreateDate>
    <NodeName Default="Services Images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>