<?xml version="1.0" encoding="utf-8"?>
<Media Key="35187bc5-6aa6-4b0a-b83c-015296c59296" Alias="statistics-img.svg" Level="2">
  <Info>
    <Parent Key="a9aac1e7-259d-4424-a4cb-85fcda5c93bf">Services Images</Parent>
    <Path>/ServicesImages/statisticsImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:18:55</CreateDate>
    <NodeName Default="statistics-img.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g5dlvv33/statistics-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>