<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7cd1179-9ae8-4905-aca6-c5c715f836e0" Alias="succuess-img.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/succuessImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:14:23</CreateDate>
    <NodeName Default="succuess-img.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rowg4vpt/succuess-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>