<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c1fd03d-89be-43b3-a841-f95c4e110a7e" Alias="Taxntrust-img.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/TaxntrustImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:13:35</CreateDate>
    <NodeName Default="Taxntrust-img.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z3wl1pvf/taxntrust-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>