<?xml version="1.0" encoding="utf-8"?>
<Media Key="7df27fdf-cbb0-45f0-8eea-f1cfc5361f2f" Alias="Taxntrust-img.svg" Level="2">
  <Info>
    <Parent Key="a9aac1e7-259d-4424-a4cb-85fcda5c93bf">Services Images</Parent>
    <Path>/ServicesImages/TaxntrustImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:18:37</CreateDate>
    <NodeName Default="Taxntrust-img.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fxbfbh3l/taxntrust-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>