<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3cc4f9c-edc7-40e0-bb13-684e2295437b" Alias="tina-pic.svg" Level="2">
  <Info>
    <Parent Key="21e64257-f76d-499f-9978-c2e582903846">About Images</Parent>
    <Path>/AboutImages/tinaPicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:17:14</CreateDate>
    <NodeName Default="tina-pic.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n1zg2ao2/tina-pic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>