<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e053ecb-2144-4e02-9f14-b82e37534013" Alias="why-chooseus-img.svg" Level="2">
  <Info>
    <Parent Key="c953cc95-f8bd-43a4-b2d2-22b2c4a72af6">Home Images</Parent>
    <Path>/HomeImages/whyChooseusImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:14:03</CreateDate>
    <NodeName Default="why-chooseus-img.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hgblp5c5/why-chooseus-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>